{% extends "dailyactivities/layout.html"%}

{% block heading %}
  <title>Daily events page</title>
{% endblock heading%}

{% block content %}
<h1> DAILY EVENTS</h1>
<ol>
<li> What will you do if removing missing values is causing the bias ?</li>
<li> How will you design a recommendation engine for jobs?</li>
<li> What is Rectified Linear Unit (ReLU) in Machine Learning ?</li>
<li> What is the difference between Bagged Model and Boosted Model ?</li>
<li> What is AdaGrad alogorithm in Machine Learning </li>
<li> What is the Degree of Freedom for Lasso ?</li>
<li> What are the Anamoly Detection Methods ? </li>
<li> What is AUC in machine learning ?</li>
<li> How does caching works and how do you use it in machine learning ?</li>
<li> Why use feature selection ? </li>
</ol>

These are the five ways to handle missing vlaues in machine learning
{% endblock content %}

