{% extends "dailyactivities/layout.html"%}

{% block heading %}
  <title>Journey page</title>
{% endblock heading%}

{% block content %}

<h1> JOURNEY</h1>

<h2>Steps taken to reach the ML Expert</h2>

<p>It is the big journey but starting from the step zero</p>
<ol>
<li> While doing the site, need to search for every single operation like file browse </li>
<li> This kind of search will consume time -- Need to find some solution to it </li>
<li> For now searching and putting this functionality </li>
<li> Write the functionality of continuosly read the image and classify it </li>
</ol>

<h2>READING THE IMAGES IN TENSOR FLOW </h2>

<ol>
<li> Now I am writing the code for reading the images, this needs to be stoned in brian so that next time I should be able to write the code or reuse it </li>
<li> It should be take more than a minute to re-use the same concept </li>
<li> Should be able to package as needed for any give input </li>
<li> There should be one liner which can possibly help us to remember the complete line for any operation </li>
</ol>

<h2>PRE-PROCESSING THE DATA </h2>
<a href="http://www.google.com">Search More</a>

<h2>MODEL CREATION </h2>

<h2>MODEL OPTIMIZATION</h2>

<h2>CREATE CODE FOR THE MATHEMATICAL MODELS </h2>
<ol>
<li> This way we will need to understand the basics of the framework implementation </li>
<li> Once the framework implementation is known and able to create new modifications for the framework we should be able to create the new framework all together </li>
<li> Atleast create 10 new framework modifications </li>

</ol>


<h2>LEARNING CURVE	</h2>
<ol>
<li> For a simple idea, what all is needed to get it fitted in mind </li>
<li> Does it need theory, does in need coding, does it need to run some examples, does it need to apply to different usecases </li>
<li> How long will it take to complete this complete excercise </li>
<li> We need to complete any thing of this stuffs within an hour </li>
<li> That way we are under control and know of what is been learnt</li>
<li> Lets practice this technique from today. </li>
<li> instead of getting deep in to the one direction it is always good that we attack problem from both directions </li>
<li> One direction is learning, the other direction is demostrating</li>
<li> ideally both will go in sequence, but here we want to make them as parallel </li>

<li> BASICS</li>
	<ol>
	<li>Learning : Understand the basic concept </li>
	<li>Demonstrating: Write it in the document </li>
	</ol>
<li> CODE</li>
	<ol>
	<li>Learning : Write the code and test it 		</li>
	<li>Demonstrating: Add the piece in the Website for all further reference </li>
	</ol>
<li> IN DEPTH</li>
	<ol>
	<li>Learning : Understand dept of the algorithm	</li>
	<li>Demonstrating: Add the variables in the web page or Write a Blog on it which can help other to learn the same concept</li>
	</ol>

how much time taken for each of these tasks and how many algorithms are at hand to complete.


<li> Make list of algorithms which are studied already and refer them frequently so that we remember the basic terminology of them.</li>

<li> One thing is very sure that unless all these programs and applications are not mastered to great extent we cannot land into job. But landing into job is only part of the euqation, which is all the reason to master it completely irrespective of the starting into job.</li>
</ol>



What ever we know and understand can be submitted in the Kaggle competition
Lets submit something which is latest and have some knowledge about it. 



Also we need to implement the algorithms form scratch to ensure we understand the logic behind it.
{% endblock content %}