{% extends "dailyactivities/layout.html"%}

{% block heading %}
  <title>Notes page</title>
{% endblock heading%}

{% block content %}
<h1> NOTES</h1>


<p>The document contains the notes which is taken for the course </p>

<ol>
<li> Different criteria to predict the results </li>
<li> Age, Gender, Location, Salary, etc </li>
<li> What are the techniques used to quickly get the results</li>
<li> Histogram for the age data will tell how is the buyers distributed across </li>
<li> Once histogram is plotted, we get to see that 36-45 is the most prefrrable able to buy the real estate property </li>
<li> Also it can be told the start from 26 to 65 years account 80% of the sales </li>
<li> Mean, Median and Mode (Mean-Average age - 46.15 years )</li>
<li> Median - 45, Mode - 48 </li>
<li> If Mean and median are both near than there are very less number of outliers </li>
<li> Age (vs) Price , younger people property of less value </li>
<li> Location (vs) Price, </li>
<li> Salary (vs) Price, </li>
 
</ol>

<h2> Ideas for the consumer electronics products </h2>

Today consumer electronics are having connectivity as the basic feature which not new any more. Once the connectivity is there what all it can do better for device imporvement 

<h3> Device to Cloud Connectivity </h3>
<ol>
  <li>Device sending all the functional data to the cloud </li>
  <li>This can help understand the device performance and weakest link in its performance </li>
  <li>Ensure that customer is having the best and smooth performance  </li>
</ol>

<h3> TV imporvements </h3>
<ol>
  <li> TV can identify the persons faces and customize the recommendations  </li> 
  <li> TV can talk extend the conversation with User in terms of its performance </li>
  <li> TV can perform more activities based on the voice recognition feature, like sending text message and any emergency info</li>
  <li> Real time processing of the video to udnerstand the emotion in the video </li>

</ol>
{% endblock content %}