{% extends "dailyactivities/layout.html"%}

{% block heading %}
  <title>Requirements page</title>
{% endblock heading%}

{% block content %}

<h1> SKILLS LISTING </h1>
<ol>
<li>predictive analytics </li> 
<li>business models</li> 
<li>operating models</li>
<li>financial models</li>
<li>cost-benefit analysis</li>
<li>budgeting and risk management</li>
<li>IOT</li>
<li>Vision systems</li>
<li>robotics</li>
<li>retail commerce</li>
<li>business ecosystems</li>
<li>SaaS</li>
<li>Infrastructure as a service (IaaS)</li>
<li>platform as a service (PaaS)</li>
<li>SOA</li>
<li>APIs</li>
<li>open data</li>
<li>micro-services</li>
<li>event-driven IT</li>
<li>Strong leadership skills</li>
<li>analytical and technical skills</li>
<li>graphical modeling approaches, tools and model repositories</li>
<li>functions and capabilities of new technologies</li>
<li>organization's digital business strategies</li>
<li>Understand and speak the language of the business</li>
<li>Influential in the organization and a team player</li>
<li>Effective at driving short-term actions that are consistent with long-term goals</li>
<li>Trusted and respected as a thought leader who can influence and persuade business and IT leaders</li>
<li>Comfortable, experienced and accomplished at working with business executives, and able to push back in a professional and diplomatic way</li>
<li>Highly collaborative and supportive of business and of its ideals and strategies</li>
<li>deep learning</li>
<li>Machine Learning</li>
<li>Deep Learning</li>
<li>NLP/NLU</li>
<li>NL classical parsing techniques</li>
<li>designing & building NLP conversational systems</li>
<li>Caffe, TensorFlow, Theano, Torch</li>
<li>research/publications on machine learning</li>
<li>artificial intelligence</li>
<li>RNN, CNN, LSTM, GRU, Auto Encoders</li>
<li>Dialog systems</li>
<li>Hadoop/ MapReduce / HBase/ Pig/ Hive/ Impala/ Spark Scala/Python/ Sqoop/ Flume/ Kafka</li>
<li>Image Classification, </li>
<li>Object Detection</li>
<li>Semantic Segmentation</li>

</ol>




<h1> Skills Understanding </h1>
<p><font size="3">
<ol>

<li><b>Kafka</b>     - This is the aggregator which can get all the queries and different srources and process is accordingly </li>
<li><b>Flume</b>     - This is the tool which can copy the log files in to Hadoop cluster. This is used for the streaming data, how it is different from Kafka, in Kafka we are not talking about the type of the stream, it can always be the streaming data </li>
<li><b>MapReduce</b>   - Its is simple form of parallel Processing which can provide the data quickly </li>
<li><b>Hadoop</b>    - </li>
<li><b>HBase</b>     - Google's Big Table format, HDFS (Hadoop Distributed File System) </li>
<li><b>Pig</b>     - </li>
<li><b>Hive</b>    - </li>
<li><b>HDFS</b>    - Hadoop Data File system, This is basically the distributed fashion in which data gets stored. There will be replication factor of 3. </li>
</ol>
</font>
</p>










<h1> REQUIREMENT UNDERSTANDING</h1>


<h4> Job Location Hyderabad (SAL) IN </h4>

<h4> Job Posting Title Senior Manager- Cloud & Advanced Technologies</h4>

<h4>The Challenge</h4>
<p>The Senior Manager- Cloud & Advanced Technologies will be responsible for driving the Digital strategy for GEA by ushering in cutting edge technologies to provide competitive advantage and solving business problems with innovative solutions. This leader will partner with various business stakeholders to identify opportunities to drive efficiencies and create new business models using cutting edge technologies & partner ecosystems. This individual shall have a very different thought process and approach away from the traditional way of solving business problems by questioning the status quo and overlapping it with emerging industry trends. This leader shall use industry standard tools and services and demonstrate an Enterprise level Platform approach to solutions. This leader has to have a good balance of both technology and leadership.
This person will make sure that the team delivers on its commitments and project Say-do is met. As the skills needed on the team will be varied and cutting edge, the leaders will have to make sure the team stays current or ahead of the curve through POC’s and industry partnerships. One of the key expectations from this leader would be to setup processes and have long term thinking so that reusability and modularity of solutions will be an integral part of solutioning.</p>

<p>This person should have implemented solutions/platforms in areas of Supply chaing, Manufacturing, Distribution, Commercial and SmartHome solutions using various AWS and other Cutting edge technologies.</p>

<p>The role will focus on cutting edge technologies such as Machine learning, Artificial intelligence, Robotics, RPA, OCR, Voice and Imaging/Vision solutions.</p>

What you will Do

<h4>Responsibilities</h4>

<h4>Lead and Influence</h4>

    Leads the team to deliver on projects and usher in new solutions
    Brings in Rapid prototyping and entrepreneur mindset
    Make sure the team stays current or ahead of the curve of technology and provide cost effective solutions
    Bring in outside in perspective to solutioning of business problems and wow stakeholders with more value
    Engage with partners to deliver solutions faster and with high quality
    Bring in a new way of thinking to help provide effective and low cost solutions that will enable competitive advantage and help develop new business models
    Leads the development of an implementation plan for the team based on business strategy and requirements.
    Seeks opportunities to highlight how digital business initiatives will potentially impact enterprises' economic architecture and metrics.

<h4>Identify Ecosystems and Develop Business Models</h4>

    Understands the business's economic and financial levers that are susceptible to digital transformation, so as to effectively support and guide technology investment decisions.
    Designs and constructs future- and current-state business models so as to practically apply new and emerging technologies to drive them.
    Details potential competitive threats from digital enterprises that are generally considered outside of your traditional realm of competition.

<h4>Focus on Strategy and Execution</h4>

    Demonstrates the business value technology as an enabler of strategy formulation, and as support for technology innovation, which drives the organization's top and bottom lines.
    Formulates, translates, advocates, supports and executes business strategy to achieve the organization's targeted business outcomes.
    Constructs technology-enabled operating models and provide viable options and visibility into execution issues.

<h4>Research and Understand Technology and Nontechnology Trends</h4>

    Scans the world for major disruptive technology and nontechnology trends (trendspotting) that affect business. Provides practical advice and best practices to overcome these challenges and successfully delivers the expected business outcomes.
    Contextualizes the technology trends based on social, economic, political and other nontechnology trends.
    Leads the analysis of business and operating models, market trends and the technology industry to determine their potential impact on the enterprise's business strategy, direction and architecture.

<h4>Enable Enterprise Ideation and Innovation</h4>

    Tracks and applies innovative and existing technologies, anchoring them in the business model to assess their potential, and use rapid prototyping approaches to evolve innovations.
    Runs technology experiments, helping to create new products and services and integrating the best of theses into steady-state operations for the organization.

<h4>Determine and Help Orchestrate the Delivery of Business Outcomes</h4>

    Guides and advises stakeholders about disruptive technologies and trends.
    Determines the relationship between people, processes, information, technology and things of the enterprise, and their relationships to one another and to the external environment.
    Works with business peers to develop and present business capability models and roadmaps to facilitate discussion and decision making with stakeholders across the enterprise.
    Leads analysis of the business' future-state capabilities and future (and current) IT environment to detect critical deficiencies and recommend solutions for improvement and driving the business forward.

<h4>What you need to Succeed</h4>

<h4>Education and Training</h4>

    Master's or Bachelor's degree in business, computer science, computer engineering, electrical engineering, system analysis or a related field of study, or equivalent experience.
    Seven or more years of experience in at least three disciplines, such as business, information, solution or technical architecture, application development, middleware, information analysis, database management or operations in a multi tier environment.
    Five or more years of business experience in strategic and operations planning and/or business analysis.

<h4>Key Skills and Knowledge</h4>

    Knowledge of business models, operating models, financial models, cost-benefit analysis, budgeting and risk management.
    Knowledge of platforms & technologies including IOT, Vision systems, robotics, retail commerce etc.
    Familiarity with information management practices, system development life cycle management, IT services management, infrastructure and operations, and EA and ITIL frameworks.
    Knowledge of business ecosystems, SaaS, infrastructure as a service (IaaS), platform as a service (PaaS), SOA, APIs, open data, micro-services, event-driven IT and predictive analytics.
    Exposure and understanding of existing, new and emerging technologies, and processing environments.
    Exceptional soft and interpersonal skills, including teamwork, facilitation and negotiation.
    Strong leadership skills.
    Excellent analytical and technical skills.
    Excellent written, verbal, communication and presentation skills.
    Excellent planning and organizational skills.
    Knowledge of business engineering principles and processes.
    Familiarity with basic graphical modeling approaches, tools and model repositories.
    Organizationally savvy, and understanding of the political climate of the enterprise and how to navigate obstacles and politics.
    Ability to balance the long-term ("big picture") and short-term implications of individual decisions.
    Ability to apply multiple solutions to business problems.
    Ability to rapidly comprehend the functions and capabilities of new technologies.
    Ready to think, behave and act in an innovative consulting manner to drive the organization's digital business strategies.
    Understand and speak the language of the business.
    Influential in the organization and a team player.
    Effective at driving short-term actions that are consistent with long-term goals.
    Trusted and respected as a thought leader who can influence and persuade business and IT leaders
    Comfortable, experienced and accomplished at working with business executives, and able to push back in a professional and diplomatic way.
    Highly collaborative and supportive of business and of its ideals and strategies.

<h3>JOB DESCRIPTION</h3>

<p>Responsible for building production class deep learning models applied to computer vision problems
Effective team player with ability to work in high performance teams in fast paced environment</p>

<h3>REQUIRED SKILLS AND EXPERIENCE:</h3>

<p>2+ years of overall experience with at least 1 year of hands-on experience in Computer Vision
Development of end-to-end machine learning pipeline including data extraction, automated labeling, training of deep learning model and deployment
Experience in image processing techniques using OpenCV
Hands-on experience in at least one of TensorFlow and Keras, PyTorch, Caffe, MXNet
Proficient in Python language
Strong foundation in software engineering; proficient in design patterns, code optimization and debugging
Experience on Linux environment and DevOps practices/tools
Working knowledge of statistics relevant to Deep Learning
Desire to work in a highly collaborative, innovative, small Engineering team
Strong initiative, self-starter, quick-learner, proactive contributor</p>

<h3>ADDITIONAL DESIRABLE SKILLS</h3>

Experience in CUDA programming
Experience in C/C++/Java
Knowledge / experience in GPU acceleration (NVIDIA GPUs)
Contributions to github / Open Source community, participation in Kaggle contests
Awareness of latest research/advances in the field and ability to apply them


<h3>Job description</h3>
<p>Apply knowledge of advanced analytics, data mining and statistical techniques to design and develop enterprise analytic solutions, which are focused on advancing the state of the art in ecommerce. . . deliver Predictive Analytics, Data Mining, Text Mining and Machine Learning driven solutions for Organization product & ecosystem. Systemic intelligence and data driven products are going to be most important aspects for creating unparalleled customer experience.</p>

<p>. . define best practices in the use of advanced analytics and therefore must possess the ability to understand and document business processes and influence process improvement. . . explore emerging technologies to evaluate new opportunities to deliver advance analytics solutions for the largest logistics player in India. . . be expected to design and develop prototypes & proof-of-concept solutions to support the development of standardized analytic offerings across multiple industries.</p>


<h3>Responsibilities:</h3>
Develop and implement various types of predictive models, machine learning, Optimization and mathematical modelling to help create disproportionate business impact.
Work with analytics, business and product teams to identify critical business problems to solve
Independently ideate, conceptualize, develop and deploy machine learning and statistics/optimization solutions for these business problems
Demonstrate execution excellence, insightful technical thought-leadership, high impact team management and strong engagement at senior executive levels.
Mentor a deeply technical team of Analytics professionals, Statisticians, Text Mining and Decision Sciences professionals and provide business and technical guidance to them
Demonstrate technical depth and thought leadership in areas of machine learning, statistics, optimization and mathematical modelling through invited talks and peer reviewed publications
Act as a Principal who analyses and develops enterprise-wide analytics solutions. Leads in the technical assessment and delivery of specific technical capabilities.


<h2>Job description :</h2>



- The Natural Language Processing group in SRIB is transforming the future of the Human computer interaction. Our AI technology is behind the Intelligent Agent that will be powering our upcoming flagship products and impacting how users interact with their phones as well as other Samsung consumer and IoT products, leading Samsung's AI growth in multiple markets. 



- This team will be part of a Global NLP Task Force working on this key corporate initiative. You will be joining our team of experienced data scientists to work on projects that have global impact in Samsung. In these projects, data scientists collaborate very closely with Samsung HQ, ORC's as well as Research and Engineering teams.

Common Essential Duties & Responsibilities : Design next generation NLP conversational systems and chatbots

Basic Experience : PhD in both classical and modern (AI & ML based) NLP field and must be from CSE background.

Preferred Experience :

- Experience in deep learning or any Machine Learning & Deep Learning related techniques on NLP/NLU is preferred

- Experience in NL classical parsing techniques

- Experience in designing & building NLP conversational systems

- Proficiency in neural network libraries such as Caffe, TensorFlow, Theano, Torch, etc is a plus

- Understanding of research/publications on machine learning and artificial intelligence field is preferred

- Experience in classification and tagging using Deep Neural Network Architectures such as RNN, CNN, LSTM, GRU, Auto Encoders etc.

- Experience in Dialog systems.


Hadoop/ MapReduce / HBase/ Pig/ Hive/ Impala/ Spark Scala/Python/ Sqoop/ Flume/ Kafka


Kafka     - This is the aggregator which can get all the queries and different srources and process is accordingly 
Flume     - This is the tool which can copy the log files in to Hadoop cluster 
        This is used for the streaming data, how it is different from Kafka, in Kafka we are not talking about the type of the stream, it can always be the streaming data  

MapReduce   - Its is simple form of parallel Processing which can provide the data quickly 
        What needs to be understood is where this can be useful aptly 
Hadoop    - 
HBase     - Google's Big Table format, HDFS (Hadoop Distributed File System) 
Pig     -
Hive    - 
HDFS    - Hadoop Data File system, This is basically the distributed fashion in which data gets stored. There will be replication factor of 3. 


- Image Classification, 
- Object Detection
- Semantic Segmentation


We are looking for a Senior Data Scientist, Team Manager, to join our Business Intelligence team. You will join us to expand one of the most successful entertainment brands in the world and enable our thriving teams to create engaging experiences for millions of players using data science.

Your Role :

- You will work closely with various teams such as User Acquisition, Advertising, and game teams. As a Senior Data Scientist, Team Manager, you will play a pivotal role in steering data science activities. 


- You will foresee and plan the modelling projects for the games unit, and lead the implementation of cross-portfolio machine learning projects.

- We create different types of games that reach to billions of players. This presents a big challenge for data science and an exciting opportunity for creating models with great impact for the Games unit and millions of players. 


- We predict how players will play, retain and spend through time, which is fundamental to the gaming industry. 


- You will apply state-of-the-art data science methods for creating automated decision-making systems for performance marketing activities in the magnitude of millions of euros monthly. 


- Together with our data engineering team, you will prototype and develop scalable solutions that are used to make recommendations for large scale user acquisition and cross-promotion campaigns.

The main responsibilities are in the following three areas :

Data :

- Developing models and algorithms that increase the efficiency in decision making and drive higher ROI.

- Designing automated solutions to improve ways of performance marketing and advertising using your statistics, machine learning, and programming skills

- Defining and spreading best analytics practices, methods and processes.

- Testing your ideas and work with data engineers to take your solutions to production

- Working with and guide other team members in data science projects that are of more technical nature

- Creating systematic ways for validating the quality of the models

Leadership :

- Providing leadership and support to a team of data scientists

- Coaching team members- to improve their performance and help them advance in their career development

- Guiding stakeholders in understanding data science concepts (e.g., ML, AI, model selection), utilizing existing data, discovering opportunities and driving data-driven decision making

You'll need :

- Expert knowledge in data science, machine learning, and statistics(e.g. bayesian modeling, gaussian processes, random forests, boosting trees, neural networks, AB testing)

- Experience in applying data science for the tasks of regression, classification, and forecasting

- Know-how to do feature engineering on time series

- Proven record of applying models from concept to production

- Programming skills in Python and/or R

- Ability to automate analytics processes using programming languages or modern data science tools

- Solid knowledge of databases and Big Data technologies (e.g. SQL, Spark, Presto)

- Interest in mobile games: Your gaming experience will help you to understand the data and business problems.

- Self-starter type of personality, ability and willingness to guide a team of experts with different backgrounds.

- Proactive, trusted advisor and driven by curiosity

- Ability to lead the work of others in the craft and provide constructive feedback

Additionally, we'd love you to have :

- Prior work experience in performance marketing, advertising, or gaming industries

- Experience in working with a team of data scientists and leading/coaching peers

What you get when you join us :

- Strong company with ambitious plans for the future: Our Client has long background in the mobile gaming industry and they have no plans to stop their growth.

- Awesome data-minded coworkers: They are a family-like community that is hands-on, collaborative and ambitious. They help each other grow professionally.

- Personal growth: They offer subscription to various learning platforms, as well as budget to buy books and conference tickets.

- Fun and international environment: You will hear lots of languages, jokes, and laughter in our workplace.

- Hackathons: We love to try new technologies and methods to build the next generation infrastructure.

- Competitive benefits such as a cell phone of our top models, a laptop you feel comfortable with, lunch and sport vouchers, breakfast, gaming area, sauna, and more.

- Don't keep us waiting - send your application already today!

Remember to include a cover letter and CV.


<h2>Job Description :</h2>


- 2+ years of experience in applied artificial intelligence technologies including machine learning, predictive data analytics, and/or data science

- BE/B.Tech or Advanced degree in a relevant field (Computer Science, Operations Research, Statistics, Mathematics, Electrical Engineering, or other Computational Science)

- Proficient in python

- Experience with spark

- Knowledge of data science/machine learning concepts

- Demonstrated ability to iteratively conceptualize, design and build data-driven analytical models

- Strong capabilities in modern analytics languages/tools

- Collaborative, open, and respectful working style

- Passion for learning and a desire to grow - Noodlers are life-long learners!

Nice to haves :

- Experience applying advanced AI techniques (e.g., machine learning, predictive analytics. optimization, semantic analysis, time-series analysis, advanced visualization) to real-world problems

- Experience with R

- Experience manipulating and preparing large, heterogeneous data sets (- Big Data- ) to support advanced analytics

- Demonstrated energy and passion that extends beyond your field of study - Are you a computer scientist who writes poetry? A mathematician who loves psychology? An engineer passionate about public policy? We want to build something with you.

- Experience with (and excitement for) interdisciplinary collaboration 


Position: Staff

Service Line: Advisory

Education: B.Tech/M.Tech/Masters

Experience :

- 3 - 6 years of experience.

- Should have had hands on experience in ML/ Advanced Analytics

- Hands on AI projects would be preferred

- Should have had experience in external client facing roles

- Good communication skill

Key responsibilities :

- Hands-on work and delivery of Advanced analytics/ML/AI projects

- Handle client interactions and client management

- Mentoring of the juniors

Qualifications, Education and Certification :

- B.Tech / M.Tech /Masters in Statistics, Economics, Computer Science, Robotics, Industrial or Mechanical Engineering or related areas

- Excellent knowledge in statistical techniques and advanced machine learning algorithms - regression, classification, clustering, time series, decision trees, text analytics, NLP etc

- Expert in Python/R coding

- Knowledge in Neural Networks/ Deep Learning/ AI would be added advantage

- Excellent communication, consulting & project management skills

- Python/ SAS/ R programming with Statistical Modelling, Regression Modelling, Random Forest, Machine Learning, Chatbots, Deep learning, Computer Visions, Operations Research


Artificial Intelligence / Machine Learning

Vacancies 20

Interview on 14.12.2019 Saturday

Experience 6 - 9 Years

Work Location Bangalore / Trivandrum, India

Domain Information technology (IT)

Position: Senior

Service Line: Advisory

Location: Trivandrum / Bangalore

Education: B.Tech/M.Tech/Masters/PhD

Experience : - 5 - 8 years of experience.

- Should have had hands on experience in ML/ Advanced Analytics

- Hands on AI projects would be preferred

- Should have had experience in external client facing roles

- Good communication skill

Key responsibilities:

- Hands-on work and delivery of Advanced analytics/ML/AI projects

- Handle client interactions and client management

- Mentoring of the juniors

Qualifications, Education and Certification:

- B.Tech / M.Tech /Masters/ PhD in Statistics, Economics, Computer Science, Robotics, Industrial or Mechanical Engineering or related areas

- Excellent knowledge in statistical techniques and advanced machine learning algorithms - regression, classification, clustering, time series, decision trees, text analytics, NLP etc

- Expert in Python/R coding

- Knowledge in Neural Networks/ Deep Learning/ AI would be added advantage

- Excellent communication, consulting & project management skills


<h2>Job Description - Data Scientist</h2>

About Company Profile :

Precily is a startup headquartered in Noida, IN. Precily is currently working with leading consulting & law firms, research firms & technology companies. Aura (Precily AI) is a data- analysis platform for enterprises that increase the efficiency of the workforce by providing AI- based solutions.

Responsibilities & Skills Required :

The role requires deep knowledge in designing, planning, testing and deploying analytics solutions including the following :

1) Natural Language Processing (NLP), Neural Networks, Text Clustering, Topic Modelling, Information Extraction, Information Retrieval, Deep learning, Machine learning, cognitive science, and analytics.

2) Proven experience implementing and deploying advanced AI solutions using R/Python.

3) Apply machine learning algorithms, statistical data analysis, text clustering, summarization, extracting
insights from multiple data points.

4) Excellent understanding of Analytics concepts and methodologies including machine learning
(unsupervised and supervised).

5) Hand on in handling large amounts of structured and unstructured data.

6) The measure, interpret and derive learning from results of the analysis that will lead to improvements document processing.

Skills Required :

1) Python, R, NLP, NLG, Machine Learning, Deep Learning & Neural Networks

2) Word Vectorizers

3) Word Embeddings ( word2vec & GloVe )

4) RNN ( CNN vs RNN )

5) LSTM & GRU ( LSTM vs GRU )

6) Pretrained Embeddings ( Implementation in RNN )

7) Unsupervised Learning

8) Supervised Learning

9) Deep Neural Networks

10) Framework: Keras/Tensor flow

11) Keras Embedding Layer output


Responsibilities :-

- Build up the ETL, Analytics and Data Science practice

- Handling large volumes of data across databases and analytical tools

- Maintain internal dashboards and report on platform usage

- Engage with the product team to define a range of customer dashboards

- Define data in and out flows for a range of campaigns across channels

- Engage Product, Business teams to translate business questions into data topics and come out with response approaches

What we're looking for :

- You have good understanding of statistics and machine learning concepts

- You have hands on experience of any statistical language/tool (e.g. R), a programming language (preferably Python) and SQL

-You have spent 3-5 years in hands on analytics roles with a consumer business or analytics firm.

- You're a fast learner

- Strong analytical acumen will be a big plus

- You're a team player and get excited by the possibilities of building something new and impactful


<h2>JD 2</h2>



<h4>About Company</h4>

<p>They act as the repository of organized human intelligence to give insights for precise data driven decisions. Decisions based on data of diverse sources and nature, and knowledge acquired from behavioral and domain insights. It uses advanced Machine Learning and NLP capabilities to help users discover meaningful insights from data.</p>

<h4>Job Description :-</h4>

<h4>Responsibilities :</h4>

<ol>
<li>Build a foundation of state of the art technical and scientific capabilities to enhance our cutting edge financial intelligence</li>

<li>Propose, build, and execute various data science models to leverage existing data to improve business and create new business avenues tilizing unstructured data</li>

<li>Work on the complex problems at the intersection of finance and technology</li>

<li> Collaborate with the product and technology teams to contribute to the advanced data analytics and product development efforts</li>

<li>Apply Data Science principles to solve practical, real-world problems</li>
</ol>

<h4>Requirements :-</h4>

<ol>
<li>Text Analytics & linguistics Specialist</li>

<li>2+ years of professional experience as a Data Scientist</li>

<li> NLP experience is a must</li>

<li>Experience with unstructured text data and performing tasks such as text mining, sentiment analysis, language modeling, classification, and information retrieval tasks</li>

<li>Proficient in R and Python</li>

<li>Familiar with SQL and NoSQL</li>
</ol>


1. What is the max size of data (in number of records) you have used to trained a model in Python at work that went live?

2. What is the max number of the features you have trained a model in Python at work that went live?

3. Have you trained Sequence Models at work in Python that went live? Do you understand them in depth?

4. Have you built a Recommender System at work in Python that went live? Do you understand Recommender Systems in depth?

5. How many models have you trained from scratch where you used CNN, RNN, LSTM or Deep Neural Nets at work that went live? Do you understand these modelling techniques in depth?

6. How many different business problems have you addressed using models you have trained in Python?

7. How many models have you improved performance of, by retraining, after they were live?

8. Have you trained a Fraud Detection Model at work in Python that went live? Do you understand Fraud Detection Models in depth?
 
9. What feature selection techniques have you used in a project at work that went live?

10. Finally, what is your current and expected CTC?


C++
Match
Design
No match
Computer Science
No match
Decision-Making
No match
Data Structures
No match
Path Planning
No match
Independence
No match
Quantitative Data
No match
Algorithms
No match
Reliability

<h2>JD 1</h2>

<b>Professional skills:</b><br>
<p>Experience with ETL & databases, particularly in the Big Data & Data Warehousing environment
Programming knowledge in Python (especially Pandas, NumPy, Scikit-learn, Keras) , R libraries (Bokeh, Matplotlib, ggplot, Plotly) ,SQL, Spark
Familiarity in working with analysis and visualization tools</p>
<p>Ideally you have worked with Hadoop, Dataiku, Jupyter, Axway, Databricks, APIs, SAP ERP & SAP BW
Having knowledge in DevOps and Frontend is a plus  
Having knowledge of working in the Cloud is a plus (ideally MS Azure)
 Language Skills: English, (German is a plus)</p>
 

<b>Personal skills:</b><br>
<p>Clear ability to work independently, strong analytical capability
Good team-working ability, the ability to perform well under pressure and an outgoing nature
Endurance and the motivation to find the best sustainable solutions for the future
Not sticking to a specific role but flexibility and hands-on mentality to take over the work that needs to be done in the team</p>
Applicant rank
Top 25% of 7,314 applicants
How you match
Criteria provided by job poster
Level of education
Match
Master's Degree
Job Details
Seniority Level
Associate

Industry
Automotive
Employment Type
Full-time

<b>Job Functions</b><br>
<h4>SKILLS</h4>

<ol>
<li> Python, R, NLP, NLG, Machine Learning, Deep Learning & Neural Networks</li>
<li> Word Vectorizers</li>
<li> Word Embeddings ( word2vec & GloVe )</li>
<li> RNN ( CNN vs RNN )</li>
<li> LSTM & GRU ( LSTM vs GRU )</li>
<li> Pretrained Embeddings ( Implementation in RNN )</li>
<li> Unsupervised Learning</li>
<li> Supervised Learning</li>
<li> Deep Neural Networks</li>
<li> Framework: Keras/Tensor flow</li>
<li> Keras Embedding Layer output</li>
</ol>

{% endblock content %}