{% extends "dailyactivities/layout.html"%}

{% block heading %}
  <title>Requirements page</title>
{% endblock heading%}

{% block content %}

<h1> MACHINE LEARNING SKILLS</h1>
<p><font size="2">
<ol>

<li><h3> ML CLASSES</h3></li>
<ol>
    <li>Unsupervised Learning</li>
    <li>Supervised Learning</li>
    <li>Deep learning</li>
    <li>Machine learning</li>
    <li>Cognitive science</li>
    <li>Analytics</li>    
</ol><br>

<li><h3> DEEP LEARNING & LIBRARIES</h3></li>
<ol>
    <li>Robotics</li>
    <li>Deep learning</li>
    <li>Machine Learning</li>
    <li>Deep Learning</li>
    <li>Caffe</li>
    <li>TensorFlow</li>
    <li>Theano</li>
    <li>Torch</li>
    <li>research/publications on machine learning</li>
    <li>artificial intelligence</li>
    <li>AB testing</li>
    <li>Keras</li>
</ol><br>

<li><h3> BIG DATA TOOLS </h3></li>
<ol>
    <li><b>Hadoop</b></li>
        <ul><li>This is Big Data base   </li></ul>
    <li><b>MapReduce</b></li>
        <ul><li>It's a simple form of parallel Processing which can provide the data quickly </li></ul>
    <li><b>HBase</b></li>
        <ul><li>Google's Big Table format, HDFS (Hadoop Distributed File System) </li></ul>
    <li><b>Pig</b></li>
        <ul><li>This is another kind of database</li></ul>
    <li><b>Hive</b></li>
        <ul><li>This is also another kind of database</li></ul>
    <li><b>Impala</b></li>
    <li><b>Spark Scala</b></li>
    <li><b>Sqoop</b></li>
    <li><b>Flume</b></li>
        <ul>
            <li>This is the tool which can copy the log files in to Hadoop cluster. This is used for the streaming data</li>
            <li>How it is different from Kafka?</li>
                <ul>
                    <li>in Kafka we are not talking about the type of the stream, it can always be the streaming data </li>
                </ul>
        </ul>
    <li><b>Kafka</b></li>
        <ul><li>This is the aggregator which can get all the queries and different resources and process is accordingly </li></ul>
    <li><b>HDFS</b></li>
        <ul><li>Hadoop Data File system, This is basically the distributed fashion in which data gets stored. There will be replication factor of 3. </li></ul>
</ol><br>

<li><h3> IMAGE PROCESSING </h3></li>
<ol>
    <li>Vision systems</li>
    <li>Image Classification, </li>
    <li>Object Detection</li>
    <li>Semantic Segmentation</li>
</ol><br>

<li><h3> STATISTICAL SKILLS </h3></li>
<ol>
    <li><b>Business models</b></li> 
        <ul><li></li></ul>
    <li><b>Operating models</b></li>
        <ul><li></li></ul>
    <li><b>Financial models</b></li>
        <ul><li></li></ul>
    <li><b>Cost-benefit analysis</b></li>
        <ul><li></li></ul>
    <li><b>Budgeting and risk management</b></li>
        <ul><li></li></ul>
    <li><b>Predictive analytics</b></li> 
        <ul><li></li></ul>
    <li><b>Bayesian modeling</b></li>
        <ul><li></li></ul>
    <li><b>Gaussian processes</b></li>
        <ul><li></li></ul>
    <li><b>Random forests</b></li>
        <ul><li></li></ul>
    <li><b>Boosting trees</b></li>
        <ul><li></li></ul>
    <li><b>Advanced visualization</b></li>
        <ul><li></li></ul>
    <li><b>R</b></li>
        <ul><li></li></ul>
    <li><b>clustering</b></li>
        <ul><li></li></ul>
    <li><b>decision trees</b></li>
        <ul><li></li></ul>
</ol><br>


<li><h3> NLP </h3></li>
<ol>
    <li>NLU</li>
    <li>NL classical parsing techniques</li>
    <li>Word Vectorizers</li>
    <li>Word Embeddings ( word2vec & GloVe )</li>
    <li><a href="{% url 'dailyactivities-RNN'%}">RNN</a> ( CNN vs RNN )</li>
    <li>LSTM & GRU ( LSTM vs GRU )</li>
    <li>designing & building NLP conversational systems</li>
    <li>Auto Encoders</li>
    <li>Dialog systems</li>
    <li>time-series analysis</li>
    <li>Pretrained Embeddings ( Implementation in RNN )</li>
    <li>Keras Embedding Layer output</li>
    <li>Text Clustering</li>
    <li>Topic Modelling</li>
    <li>Information Extraction</li>
    <li>Information Retrieval</li>
</ol><br>

</ol>
</font>
</p>

<h1> SOFT SKILLS </h1>
<p><font size="2">
<ol>
<li>Strong leadership skills</li>
<li>analytical and technical skills</li>
<li>graphical modeling approaches, tools and model repositories</li>
<li>functions and capabilities of new technologies</li>
<li>organization's digital business strategies</li>
<li>Understand and speak the language of the business</li>
<li>Influential in the organization and a team player</li>
<li>Effective at driving short-term actions that are consistent with long-term goals</li>
<li>Trusted and respected as a thought leader who can influence and persuade business and IT leaders</li>
<li>Comfortable, experienced and accomplished at working with business executives, and able to push back in a professional and diplomatic way</li>
<li>Highly collaborative and supportive of business and of its ideals and strategies</li>
</ol>
</font>
</p>


<h1> CLOUD SKILLS </h1>
<p><font size="2">
<ol>
<li>IOT</li>
<li>SaaS</li>
<li>Infrastructure as a service (IaaS)</li>
<li>platform as a service (PaaS)</li>
<li>SOA</li>
<li>APIs</li>
<li>open data</li>
<li>micro-services</li>
<li>event-driven IT</li>
<li>retail commerce</li>
<li>business ecosystems</li>
</ol>
</font>
</p>
{% endblock content %}